<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BookStore" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\BookStore.mdf;Initial Catalog=BookStore;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="SygnionDb" connectionString="data source=alien3\genesis;initial catalog=sygniondb;persist security info=True;user id=umbraco;password=umbraco01!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="UserCtx" connectionString="data source=alien3\genesis;initial catalog=sygniondb_def;user id=umbraco;password=umbraco01!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="BlockchainEntities" connectionString="metadata=res://*/Contexts.BlockChainModel.csdl|res://*/Contexts.BlockChainModel.ssdl|res://*/Contexts.BlockChainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=AdventureWorks2014;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <log4net>
    <!-- Level 1 -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="mylogfile.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <!-- Level 2 -->
      <level />
      <appender-ref />
      <level value="INFO" />
      <!-- Level 3 -->
      <appender-ref ref="FileAppender" />
      <!-- Level 3 -->
      <appender-ref ref="ConsoleAppender" />
      <!-- Level 3 -->
    </root>
    <logger>
      <!-- Level 2 -->
      <level />
      <!-- Level 3 -->
      <appender-ref />
      <!-- Level 3 -->
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>