<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0"
  id="io.cordova.appb64ec64666e9432a9caf5f01009feb88"
  version="1.0.0.0"
  xmlns:gap="http://phonegap.com/ns/1.0"
  xmlns="http://www.w3.org/ns/widgets">
  <name>Camera</name>
  <description>Captures a picture and saves using a secure connection to a repository.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Apache Cordova Team </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
  <gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
  <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
  <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
  <gap:plugin name="org.apache.cordova.media" version="0.2.13" />
  <gap:platformSpecificValues />
</widget>