<!-- ko with: home -->

<div class="row">
    @*<div class="col-md-4">
        <h2>Users logged in</h2>
        <p data-bind="text: myHometown"></p>
       
    </div>*@

    <div class="col-md-12">        
      <iframe src="~/index.html" frameborder="0"style="width:100%;height:700px;position:relative;top:-57px"></iframe>
    </div>
</div>

<!-- /ko -->
