<!-- ko with: home -->

<div class="row">
    <div class="col-md-4">
        <h2>Users logged in</h2>
        <p data-bind="text: myHometown"></p>
       
    </div>

    <div class="col-md-8">
        <h2>Chats</h2>

		<input type="text" id="message" placeholder="Message" data-bind="value:message"/>
		<input type="button" class="btn btn-primary" id="sendmessage" value="Send" data-bind="click:sendMessage"/>
		<input type="hidden" id="displayname" />

		<div data-bind="foreach:messages">
			<div data-bind="text:$data"></div>
		</div>
    </div>
</div>

<!-- /ko -->
